<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}Index{%endblock%}</title>
        <h1>Home page.</h1>
    </head>
<body>
    {%block content %} Welcome to the home page. {%endblock%}

    </body>
</html>